     <!-- =========================================
                             Hero-Section
         ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="hero-section">
             

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->


 <!-- content begin -->
       <section class="intro-about"> <!-- to fix -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                            <div class="widget">
                           
                                <%= render 'usenav' %>
                            <div class="col-md-8">
                        <div class="row">
                       <%= image_tag "use-case-1.png",  class: "img-responsive", id: 'case-screen' %>
                       <br>
                            <h4>AngularX: A business analytics platform with the ease of use of a modern website.</h4>
                            We are building an ever-expanding financial and economic data set - as well as the tools to access and interpret that data - to help investors and business people make better decisions and earn more from their investments.
                            <br>
                            <br>
                            <div class="panel panel-default">
                              <!-- Default panel contents -->
                              <div class="panel-heading">Platform Analytics</div>
                              <div class="panel-body">
                                 <li>100+ Sustainability Metrics</li>
                                 <li>100+ Profitability Metrics</li>
                                 <li>1,000+ Financial Indicators</li>
                                 <li>1,000+ Peer Analytics</li>
                                 <li>Talent Analytics per Employee</li>
                                 <li>Marketing Analytics Data Points</li>
                                 <li>Quarterly reporting and data collection</li>
                                 <li>Trend Analysis and Balance Projection</li>
                                 <li>Assurance Providers available</li>
                              </div>
                            </div>
                            
                              <div class="panel panel-default"  id="sustainability">
                              <!-- Default panel contents -->
                              <div class="panel-heading">Sustainability Reporting</div>
                              <div class="panel-body">
                                 <li>100+ Sustainability Data Points</li>
                                 <li>Global Reporting Initiative (GRI) Framework</li>
                                 <li>Assurance Ready</li>
                                 <li>Thousands of peer groups for industry comparison</li>
                                 <li>Quarterly reporting and data collection</li>
                                 <li>Annual Data Collection Summaries</li>
                                 <li>PDF Reporting</li>
                              </div>
                            </div>
                            
                             <div class="panel panel-default" id="talent-analytics">
                              <!-- Default panel contents -->
                              <div class="panel-heading" >Talent Analytics</div>
                              <div class="panel-body">
                                 <li>20+ Talent Insight Snapshots</li>
                                 <li>Talent Analytics per Employee</li>
                                 <li>Annual or Quarterly Measurement</li>
                                 <li>Peer Analytics to Benchmark</li>
                                 <li>Unique Company Key for Easy Deployment</li>
                                 <li>Survey Management to prevent repeat attempts</li>
                              </div>
                            </div>
                            
                             <div class="panel panel-default" id="fs-analytics">
                              <!-- Default panel contents -->
                              <div class="panel-heading" >Financial Statement Analytics</div>
                              <div class="panel-body">
                                <p>
                                 • 16,000+ Companies
                                • Up to 30 years of historical financials and metrics, 50 years of price history
                                • 4,000+ fundamental calculations and line items
                                • Exchanges Covered: NYSE, NASDAQ, NYSE MKT, NYSE Arca, OTC Markets, OTCBB, TSX, TSX-V, CNSX
                                </p>
                              </div>
                            </div>
                            
                             <div class="panel panel-default" id="marketing">
                              <!-- Default panel contents -->
                              <div class="panel-heading" >Angular Marketing (CMO)</div>
                              <div class="panel-body">
                                <li>AngularX Marketing Central for Chief Marketing Officers</li>
                                <li>Weekly insights and metrics</li>
                                <li>Integrated Analytics into Dashboard</li>
                                <li>CMO surveys and market research</li>
                                <li>Peer Marketing Expense and Comparions</li>
                              </div>
                            </div>
                            
                             <div class="panel panel-default" id="profitability">
                              <!-- Default panel contents -->
                              <div class="panel-heading" >Profitability Analytics</div>
                              <div class="panel-body">
                                <li>Clear Interest Income Decomposition</li>
                                <li>Multiple FTP Methodologies</li>
                                <li>Transfer Price Determination</li>
                                <li>Monthly, Quarterly, or Annual Reporting</li>
                                <li>Averaged Peer Analytics</li>
                              </div>
                            </div>
                            
                             <div class="panel panel-default">
                              <!-- Default panel contents -->
                              <div class="panel-heading">Dashboard</div>
                              <div class="panel-body">
                                <li>One page Dashboard for overview</li>
                                <li>Analytics Panel for Metrics Comparison</li>
                                <li>Interchange Chart Views and Reports</li>
                                <li>CSV Download</li>
                              </div>
                            </div>
                        </div>
                    </div>


                           

            </section>