     <!-- =========================================
                             Hero-Section
         ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="hero-section">
             

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->


 <!-- content begin -->
       <section class="intro-about"> <!-- to fix -->
            <div class="container">
                <div class="row">
                       

                    <div class="col-md-3">
                        <div class="widget">
                           <%= render 'usenav' %>
                         <div class="col-md-8">
                              <div class="row">
                       <%= image_tag "use-case-1.png", height: '400' %>
                        <br>
                        <br>
                            <h4>AngularX: A financial terminal with the ease of use of a modern website.</h4>
                            We are building an ever-expanding financial and economic data set - as well as the tools to access and interpret that data - to help investors and business people make better decisions and earn more from their investments.
                            <br>

                            
                            <h4>COMPANY DATA</h4>
                            • 16,000+ Companies
                            • Up to 30 years of historical financials and metrics, 50 years of price history
                            • 4,000+ fundamental calculations and line items
                            • Exchanges Covered: NYSE, NASDAQ, NYSE MKT, NYSE Arca, OTC Markets, OTCBB, TSX, TSX-V, CNSX

                            <h4>FUND DATA</h4>
                            • 1,600+ ETFs and 35,000+ Mutual Funds
                            • 30+ years of historical performance and risk data
                            • Hundreds of current ratios and statistics

                            <h4>INDEX DATA</h4>
                            • 1,500+ Indices covering multiple geographies
                            • Up to 30 years of price history

                            <h4>ECONOMIC INDICATOR DATA</h4>
                            • 250,000+ economic timeseries
                            • Up to 100+ years of history for certain data items
                            • Data Verification: Access to the data directly from its original publisher

                            <h4>COMPREHENSIVE SEARCH ENGINE</h4>
                            Makes finding securities a breeze. Just start typing and watch the magic.

                            <h4>DASHBOARD</h4>
                            One page to view all the securities you care about. Custom watchlists, news feeds, and charts update intra-day to keep you informed.

                            <h4>STOCK SCREENER</h4>
                            The most powerful stock-screener on the web is here. Screen based on 4,000+ fundamental metrics.

                            <h4>FUND SCREENER</h4>
                            Sort through our expansive database of ETFs and Mutual Funds based on performance, risk, or fundamental criteria.

                            <h4>TABLES</h4>
                            Gets rid of the headaches involved in gathering and structuring data for analyses. Competitor analysis, comparable analysis, and timeseries analysis are the three key uses.

                            <h4>EXCEL ADD-IN</h4>
                            Pulls data directly from YCharts into Microsoft Excel using Excel-native formulas. (Windows PCs only).

                            <h4>DATA ALERTS</h4>
                            Set once, then let our system tell you when important events happen.

                            <h4>INTERACTIVE CHART BROWSER</h4>
                            See what has happened over time with highly customizable charts of of every security in our system. Save your favorite chart presets. Quickly flip through lists of stocks in Fundamental or Technical Charts with our Chart Browser feature.

                            <h4>STREAMING NEWS</h4>
                            YCharts' intraday news feed from MT Newswires will keep you in the know. Hundreds of headlines and stories each day inform members about key happenings in the financial and economic landscapes.

                            <h4>DEDICATED CUSTOMER SUPPORT</h4>
                            One person to help you. Know them by name and reach out for help with initial setup or ongoing questions.
                        </p>
                    
                       
                        <br>
                        <br>
                    </div>
                    </div>

                    
                            <!-- Main Wrapper -->
                            <div class="col-lg-5">
                                <div class="hpanel">
                                    <div class="panel-body text-center h-200">
                                        <i class="pe-7s-graph1 fa-4x"></i>

                                        <h1 class="m-xs">$1 206,90</h1>

                                        <h3 class="font-extra-bold no-margins text-success">
                                            All Income
                                        </h3>
                                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>
                                    </div>
                                    <div class="panel-footer">
                                        This is standard panel footer
                                    </div>
                                </div>
                            </div> <!-- col-lg-5 close -->
                
                          <div class="col-lg-5">
                                <div class="hpanel">
                                    <div class="panel-body text-center h-200">
                                        <i class="pe-7s-graph1 fa-4x"></i>

                                        <h1 class="m-xs">$1 206,90</h1>

                                        <h3 class="font-extra-bold no-margins text-success">
                                            All Income
                                        </h3>
                                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>
                                    </div>
                                    <div class="panel-footer">
                                        This is standard panel footer
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="col-lg-5">
                                <div class="hpanel">
                                    <div class="panel-body text-center h-200">
                                        <i class="pe-7s-graph1 fa-4x"></i>

                                        <h1 class="m-xs">$1 206,90</h1>

                                        <h3 class="font-extra-bold no-margins text-success">
                                            All Income
                                        </h3>
                                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>
                                    </div>
                                    <div class="panel-footer">
                                        This is standard panel footer
                                    </div>
                                </div>
                            </div>
                          <div class="col-lg-5">
                                <div class="hpanel">
                                    <div class="panel-body text-center h-200">
                                        <i class="pe-7s-graph1 fa-4x"></i>

                                        <h1 class="m-xs">$1 206,90</h1>

                                        <h3 class="font-extra-bold no-margins text-success">
                                            All Income
                                        </h3>
                                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>
                                    </div>
                                    <div class="panel-footer">
                                        This is standard panel footer
                                    </div>
                                </div>
                            </div>

            </section>