      <!-- =========================================
                     Hero-Section
                ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="hero-section">
                                
                                <!-- Welcome - Hero Message -->
                                <h1 class="text-white">Sustainability Reporting</h1>
                                <p class="text-white">Your starting point for Sustainability Reporting and Analytics.</p>
                                
                                <!-- Learn More Buttons -->
                                <div class="btn-box">
                                    <a href="#about" class="btn btn-ghost scrollto">Learn More</a>
                                    <a href="#canvas-bg" class="btn btn-color scrollto"><i class="icon arrow_carrot-2dwnn_alt"></i>Play Video</a>
                                </div>

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->

    


        <!-- =================================
             SECTION ABOUT - INTRO FEATURES
        ====================================== -->
        <section class="intro-features" id="about">
            <div class="container">
                <!-- Padding -->
                <div class="wrapper-lg">
                    <div class="row">
                        <!-- Section Header Title -->
                        <div class="col-xs-12">
                            <h2>It's about making ideas happen</h2>
                            <p class="large">Spend less time worrying about front-end and more focusing on your product.</p>
                        </div>
                    </div>
                    <!-- Three Main Features with Icons -->
                    <div class="row">
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-mobile"></i>
                            </div>
                            <h4>Responsive Layout</h4>
                            <p>Optio dolores expedita unde vel laudantium enim nisi eos distinctio, rem. Repellat repudiandae quos laborum magni.</p>
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-browser"></i>
                            </div>
                            <h4>Easy to Customize</h4>
                            <p>Praesentium reprehenderit quae, sequi deserunt laboriosam velit necessitatibus nulla ea optio, quis nam pariatur.</p>  
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-documents"></i>
                            </div>
                            <h4>Fully Documented</h4>
                            <p>Aperiam recusandae ipsa culpa, cupiditate magnam dolor molestiae, omnis, architecto possimus aperiam corrupti corporis.</p>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END INTRO FEATURES
        ============================== -->
        
        
        <!-- ==================================================
             SECTION 2 COLS - IMAGE RIGHT AND TEXT WITH CALL TO ACTION
        ======================================================= -->
        <section class="img-with-action light-bg">
            <div class="container wrapper-lg">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <!-- Text Col -->
                        <h3>Validate your Business Idea and Reach Product Market Fit</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis inventore eum, cupiditate esse debitis consectetur nisi harum. Tempore, assumenda ducimus vero totam labore. Ipsam, eos odit eaque, voluptatum minima, odio eveniet soluta saepe, culpa quo enim omnis iusto. Possimus, at numquam beatae non atque?</p>
                        <!-- Call To Action Buttons -->
                        <div class="btn-box">
                            <a href="#features" class="btn btn-grey scrollto">Learn More</a>
                            <a href="#canvas-bg" class="btn btn-color scrollto"><i class="icon arrow_carrot-2dwnn_alt"></i>Try it for Free</a>
                        </div>
                        <!-- Div Required for Correct Charts Animation -->
                        <div class="start-charts"></div>
                    </div>
                </div><!-- /End Row-->
            </div><!-- /End Container-->
            <!-- Image Col -->
            <div class="hidden-sm hidden-xs col-md-6 img-col-bg img-right"></div>
        </section>
        <!-- =============================
             /END SECTION 
        ============================== -->
        

        <!-- ==================================================
            CHARTS & SHOWCASE SECTION
        ======================================================= -->
        <section class="charts" id="charts">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Get out of the Building</h2>
                            <p class="large">Ideal for SaaS, Web Apps, Mobile Apps and all kind of Marketing websites.</p>
                        </div>
                    </div>

                    <div class="row doughnut-box">
                        <div class="col-md-5">
                            <!-- Div Required for Correct Line Chart Animation -->
                            <div class="start-line"></div>
                            <!-- Chart Text Description -->
                            <h4>Everything you need to get your Startup Business online and ready to go.</h4>
                            <p>Perferendis aliquid accusamus nostrum recusandae maxime dolor dolorum numquam pariatur quasi sit, in, culpa hic, fugiat dignissimos fuga necessitatibus tempore molestias ipsum corporis distinctio. Minima mollitia.</p>
                            <p><a href="#canvas-bg" class="scrollto"><strong>Join with us. It will only take a minute ›</strong></a></p>
                        </div>
                        <div class="col-md-7">
                            <!-- Doughnut Charts  -->
                            <div id="canvas-holder">
                                <div class="chart-text">
                                    100&#37;<span>Crafted with<br> Passion</span>
                                </div>
                                <canvas id="chart-area" width="400" height="400"></canvas>
                            </div>
                            <div id="canvas2-holder">
                                <div class="chart2-text">
                                    827<span>Cups of<br>Coffee</span>
                                </div>
                                <canvas id="chart2-area" width="300" height="300"></canvas>
                            </div>
                        </div>
                    </div><!-- /End Chart-Box -->
                        
                    <div class="row chart-box">
                        <div class="col-md-6 col-md-push-6 col-sm-12">
                            <!-- Chart Text Description -->
                            <h4>SmartMvp <strong>breathes new life</strong> into your App, Product or Saas landing page.</h4>
                            <p>Exercitationem, hic commodi libero reprehenderit id iusto, consequatur unde pariatur recusandae dicta sequi voluptatum quae corrupti culpa quibusdam nihil error harum itaque praesentium quidem corporis cupiditate voluptatem. Error tempore aperiam nulla saepe corrupti!</p>
                            <p><a href="#features" class="scrollto"><strong>Learn how customize SmartMvp ›</strong></a></p>
                        </div>
                        <div class="col-md-6 col-md-pull-6 col-sm-12">
                            <!-- Line Chart -->
                            <div class="line-canvas">
                                <div>
                                    <canvas id="line-canvas" height="450" width="600"></canvas>
                                </div>
                            </div>
                        </div>
                    </div><!-- /End Chart-Box -->
                    
                    <div class="row showcase">
                        <div class="col-md-4">
                            <h4>Fully Responsive Layout that will adapt itself to any mobile device.</h4>
                            <p>Praesentium voluptatem excepturi corporis labore architecto eos ea molestiae saepe facere at voluptate similique iusto porro pariatur, dolorum dolor magni sint eveniet iste. Eaque, aliquam, dignissimos.</p>
                            <p><a href="#mobile-download" class="scrollto"><strong>Download the App for your smartphone ›</strong></a></p>
                        </div>
                        <div class="col-md-8">
                            <!-- Devices Image -->
                            <div class="img-box">
                                <img src="assets/images/showcase.png" alt="" class="img-responsive">
                                <a href="http://youtu.be/SZEflIVnhH8" data-type="youtube" class="venobox video-player"><i class="icon arrow_triangle-right_alt2 wow fadeIn" data-wow-duration="2s"></i></a>
                            </div>
                        </div>
                    </div><!-- /End Chart-Box -->

                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->      
        </section>
        <!-- =============================
             /END CHARTS SECTION 
        ============================== -->