     <!-- =========================================
                             Hero-Section
         ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="hero-section">
             

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->


 <!-- content begin -->
       <section class="intro-about"> <!-- to fix -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                            <div class="widget">
                              <%= render 'usenav' %>
                            <div class="col-md-8">
                        <div class="row">
                          <h4>Sustainability Reporting</h4>
                            <!-- TALENT BOXES AT TOPE OF PAGE -->
                              <!-- Div Required for Correct Line Chart Animation -->
                            <div class="talent-line"></div>
                           <div class="content animate-panel">
                            <div class="row social-board">
                                <div class="col-md-6">

                                    <div class="hpanel hblue"  id="talent-panel">
                                        <div class="panel-body">
                                           <h4>Verify Company Key</h4>
                                            <div class="media social-profile clearfix">
                                                <div class="media-body">
                                                  <input type="text" class="form-control" placeholder="Enter Company Key">

                                                  <button type="button" class="btn btn-color">Verify</button>
                                            </div>

                                            <div class="social-content m-t-md">
                                                                         </div>
                                        </div>
                                        <div class="panel-footer">
                                              
                                            <div class="social-talk">
                                                <div class="media social-profile clearfix">
                                                    

                                                   
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                      </div>
                                  </div>
                             
                            

                            <div class="content animate-panel">
                            <div class="row social-board">
                                <div class="col-md-6">
                                    <div class="hpanel hblue"  id="talent-panel">
                                        <div class="panel-body">
                                            <div class="media social-profile clearfix">
                                                <div class="media-body">
                                                   <!-- Multiple Radios -->
                                                    <div class="form-group">
                                                      <h4>Multiple Radios</h4>
                                                      <div class="col-md-6">
                                                      <div class="radio">
                                                        <label for="radios-0">
                                                          <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                                                          Option one
                                                        </label>
                                                      </div>
                                                      <div class="radio">
                                                        <label for="radios-1">
                                                          <input type="radio" name="radios" id="radios-1" value="2">
                                                          Option two
                                                        </label>
                                                      </div>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="social-content m-t-md">
                                                                         </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="social-talk">
                                                <div class="media social-profile clearfix">
                                                  

                                                   
                                                </div>
                                            </div>
                                            <div class="social-talk">
                                                <div class="media social-profile clearfix">
                                                   

                                                   
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                           </div>
                                  <br>
                                  <br>
                                <div class="clearfix"></div>


                            <!-- END TALENT BOXES -->
                            

                            
                             <br>
                            <h4>AngularX Talent Analytics helps you track your workforce</h4>
     
                            <br>
                            <br>
                            <!-- ORIGINAL CODE -->
                     
                                <div class="line-canvas">
                                    <div>
                                        <canvas id="talent-canvas" height="250" width="600"></canvas>
                                    </div>
                                </div>
                        
       





            </section>