     <!-- =========================================
                             Hero-Section
         ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="hero-section">
             

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->


 <!-- content begin -->
       <section class="intro-about"> <!-- to fix -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                           <%= render 'usenav' %>
                         <div class="col-md-8">
                       
              
                        
                            <h4>AngularX: A financial terminal with the ease of use of a modern website.</h4>
                            We are building an ever-expanding financial and economic data set - as well as the tools to access and interpret that data - to help investors and business people make better decisions and earn more from their investments.

                            COMPANY DATA
                            • 16,000+ Companies
                            • Up to 30 years of historical financials and metrics, 50 years of price history
                            • 4,000+ fundamental calculations and line items
                            • Exchanges Covered: NYSE, NASDAQ, NYSE MKT, NYSE Arca, OTC Markets, OTCBB, TSX, TSX-V, CNSX

                            FUND DATA
                            • 1,600+ ETFs and 35,000+ Mutual Funds
                            • 30+ years of historical performance and risk data
                            • Hundreds of current ratios and statistics

                            INDEX DATA
                            • 1,500+ Indices covering multiple geographies
                            • Up to 30 years of price history

                            ECONOMIC INDICATOR DATA
                            • 250,000+ economic timeseries
                            • Up to 100+ years of history for certain data items
                            • Data Verification: Access to the data directly from its original publisher

                            COMPREHENSIVE SEARCH ENGINE
                            Makes finding securities a breeze. Just start typing and watch the magic.

                            DASHBOARD
                            One page to view all the securities you care about. Custom watchlists, news feeds, and charts update intra-day to keep you informed.

                            STOCK SCREENER
                            The most powerful stock-screener on the web is here. Screen based on 4,000+ fundamental metrics.

                            FUND SCREENER
                            Sort through our expansive database of ETFs and Mutual Funds based on performance, risk, or fundamental criteria.

                            TABLES
                            Gets rid of the headaches involved in gathering and structuring data for analyses. Competitor analysis, comparable analysis, and timeseries analysis are the three key uses.

                            EXCEL ADD-IN
                            Pulls data directly from YCharts into Microsoft Excel using Excel-native formulas. (Windows PCs only).

                            DATA ALERTS
                            Set once, then let our system tell you when important events happen.

                            INTERACTIVE CHART BROWSER
                            See what has happened over time with highly customizable charts of of every security in our system. Save your favorite chart presets. Quickly flip through lists of stocks in Fundamental or Technical Charts with our Chart Browser feature.

                            STREAMING NEWS
                            YCharts' intraday news feed from MT Newswires will keep you in the know. Hundreds of headlines and stories each day inform members about key happenings in the financial and economic landscapes.

                            DEDICATED CUSTOMER SUPPORT
                            One person to help you. Know them by name and reach out for help with initial setup or ongoing questions.
                        </p>
                    
                       
                        <br>
                        <br>
                    </div>
                    </div>

            </section>