     <!-- =========================================
                             Hero-Section
         ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="hero-section">
                            

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->


 <!-- content begin -->
       <section class="intro-about"> <!-- to fix -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                            <div class="widget">
                           
                                <%= render 'usenav' %>
                            
                                 <!-- Main Wrapper -->
                           <div class="col-md-8"> 
                           <h4>Financial Statement Analytics</h4>  
                            <!-- Div Required for Correct Line Chart Animation -->
                            <div class="fs-analytics-line"></div>  

                          <div class="line-canvas">
                                    <div>
                                        <canvas id="fs-analytics-canvas" height="250" width="600"></canvas>
                                    </div>
                                </div>
                             
                            <div class="col-lg-5">
                                <div class="hpanel" id="fs-analytics">
                                    <div class="panel-body text-center h-200">
                                        <div class="icon-lg">
                                            <i class="icon icon-bargraph"></i>
                                        </div>
                                     

                                        <h4 class="m-xs">$1,206,90</h4>

                                        <h4 class="font-extra-bold no-margins text-success">
                                            Assets
                                        </h4>
                                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>
                                    </div>
                                    <div class="panel-footer">
                                        This is standard panel footer
                                    </div>
                                </div>
                            </div> <!-- col-lg-5 close -->
                
                          <div class="col-lg-5">
                                <div class="hpanel" id="fs-analytics">
                                    <div class="panel-body text-center h-200">
                                        <div class="icon-lg">
                                            <i class="icon icon-speedometer"></i>
                                        </div>
                                        

                                        <h4 class="m-xs">$1 206,90</h4>

                                        <h4 class="font-extra-bold no-margins text-success">
                                            All Income
                                        </h4>
                                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>
                                    </div>
                                    <div class="panel-footer">
                                        This is standard panel footer
                                    </div>
                                </div>
                            </div>
                         <div class="col-lg-8">
                                <div class="hpanel" id="fs-analytics">
                                    <div class="panel-body text-center h-200">
                                        <div class="icon-lg">
                                            <i class="icon icon-linegraph"></i>
                                        </div>
                                        

                                        <h4 class="m-xs">$1 206,90</h4>

                                        <h4>
                                            All Income
                                        </h4>
                                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>
                                    </div>
                                    <div class="panel-footer">
                                        This is standard panel footer
                                    </div>
                                </div>
                            </div><!-- form -->
                        </div>
                    </div>
                  </div>
    
                            


</section>